<div class="container_12 my-header" >
<div class="grid_12">
    <div class="socials">
        <a ng-click="authenticate('facebook')"></a>
        <a ng-click="loginFB()"></a>
        <a ng-click="loginGG()"></a>
    </div>
    <!--<div ng-show="authData" class="socials" >-->
        <!--<div>-->
            <!--<p>Chào mừng {{ myAccount.displayName }} đến với Cơm Văn Phòng</p>-->
            <!--<div style="float: midle;">-->
                <!--<img ng-src={{myAccount.profileImageURL}} height="50" width="50">-->
            <!--</div>-->
            <!--<div style="clear: right;">-->
                <!--<button ng-click="logout()">Logout</button></div>-->
        <!--</div>-->
    <!--</div>-->
    <h1><a href="index.html"><img src="images/logo.png" alt="Boo House"></a> </h1>
    <div class="menu_block">


        <nav id="bt-menu" class="bt-menu">
            <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
            <ul>
                <li class="current bt-icon"><a href="index.html">Trang chủ</a></li>
                <li class="bt-icon"><a href="index_menu.html">Thực đơn</a></li>

                <li class="bt-icon"><a href="index_reservation.html">Đặt món</a></li>
                <li class="bt-icon"><a href="index_contact.html">Liên hệ</a></li>
            </ul>
        </nav>

        <div class="clear"></div>
    </div>

    <div class="clear"></div>
</div>
</div>